* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0A1817;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /*#7DE5F4- azul claro  #44868B-azul  #599820-verde claro #2A470C-verde escuro
      */
}

.background {
    padding: 0 5%;
    /* Garante que o conteúdo tenha padding em relação à tela */
}

nav h2 {
    color: #7DE5F4;
    font-size: 35px;
    cursor: pointer;
    letter-spacing: 2px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 55px 0;
    /* Ajuste o padding conforme necessário */
    width: 100%;
    /* Garante que o nav ocupe toda a largura */
    position: relative;
}

span {
    color: #599820;
}

nav ul li {
    display: inline-block;
    padding: 10px 25px;
    list-style-type: none;
}

nav ul li a {
    color: #7DE5F4;
    text-decoration: none;
    font-weight: bold;

}

nav ul li a:hover {
    color: #44868B;
    transform: scale(1.2);
}

.conteudo {
    display: flex;
    width: 100%;
    gap: 10px;
    margin-top: 80px;

}

.main {

    width: 700px;
}

.main span {
    color: #599820;
}

.img-test {
    width: 700px;
    max-width: 100%;
    height: 100%;
    margin-top: -250px;
    margin-right: 50px;
}

.cv {
    background-color: transparent;
    color: #44868B;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 90px;
    box-shadow: 0 0 16px #44868B;
}

.btn-init {
    background-color: #44868B;
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 5px;
    border-radius: 90px;
    position: fixed;
    bottom: 10px;
    z-index: 1000;
}

.btn-right {
    right: 5px;
}

.btn-left {
    left: 1215px;
}

.btn-init:hover {
    background-color: transparent;
    color: #44868B;
    border: 2px dotted #44868B;
    cursor: pointer;
    transition: .3s;
}

h4 {
    color: whitesmoke;
    letter-spacing: 2px;
    font-size: 20px;
}

h1 {
    color: #44868B;
    margin: 20px 0px 20px;
    font-size: 40px;
}

h3 {
    color: whitesmoke;
    font-size: 25px;
    margin-bottom: 20px;
}

.background-color-Sobre {
    width: 100%;
    /*  */
    flex-wrap: wrap;
    /*pra fazer a quebra de linha */
}

.background-color-Sobre img {
    width: 200px;
    /* tamanho da img */
    height: auto;
    margin: 20px;
    border: 4px dashed #44868B;
}

.background-color-Sobre img:hover {
    transform: scale(1.6);
    transition: .5s;
}

.Text-sobre {
    /*  fazer a quebra do texto */
    width: 700px;
}

.main-sobre {
    display: flex;
    /* pra ficar um do lado do outro */
    align-items: center;
    justify-content: space-around;
    margin: 20px 30px;
    /* pra div ficar centralizada */
}

.Text-sobre h2 {
    letter-spacing: 3px;
    color: #44868B;
    font-size: 45px;
    margin-bottom: 40px;
    /* afastamento do paragrafo */
}

.Text-sobre h5 {
    /*  */
    color: #fff;
    letter-spacing: 2px;
    font-size: 35px;
    margin-bottom: 30px;
}

.Text-sobre p {
    /*  */
    color: white;
    letter-spacing: 1px;
    line-height: 32px;
    /* espaço entre as linhas */
    font-size: 25px;
    margin-bottom: 20px;
}

.Text-sobre span {
    color: #7DE5F4;
}

.Text-sobre p span {
    color: #599820;
    text-shadow: 2px 2px 10px #44868B;
    font-weight: bold;
    letter-spacing: 2px;
}

.teste-projeto {
    width: 100%;
    padding: 50px;

}

.titulo-projeto h2 {
    color: #7DE5F4;
    font-size: 45px;
    margin: 20px 150px;
    text-align: center;
    border: 9px double #44868B;

}

.caixa-projeto {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* Espaçamento entre os projetos */
}

.projeto-1 {
    display: flex;
    height: 400px;
    gap: 4px;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px #599820;
}

.projeto-1 h5 {
    color: #3DC0D4;
    font-size: 30px;
    margin-bottom: 10px;
    width: 100%;
    /* O título ocupa a linha toda */
}

.projeto-1 p {
    display: flex;
    font-size: 25px;
    gap: 4px;
    justify-content: start;
    align-items: center;
    color: #599820;
    width: 100%;
    margin-right: 20px;
}

.fotos {
    display: flex;
    flex-wrap: nowrap;
    /* Imagens ajustam-se para ficarem lado a lado ou embaixo conforme a largura */
    gap: 10px;

}

.fotos img {
    max-width: 265px;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
}

.align-items {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
}

.btnn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 15px;
    background-color: #44868B;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    width: auto;
    height: 30px;
}

.btnn:hover {
    background-color: transparent;
    color: #7DE5F4;
    border: 2px solid #7DE5F4;
    cursor: pointer;
    transform: scale(1.2);
    transition: .3s;

}

.me-contate {
    width: 100%;
    /* */
    display: flex;
    /*pra ficar um do lado do outro */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.me-contate p {
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 25px;
}

.Redes-sociais {
    display: flex;
    flex-wrap: wrap;
}

.Redes-sociais a {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.Redes-sociais a:hover {
    /* efeito de aumentar*/
    transform: scale(1.2);
    transition: .3s;
}

footer {
    background-color: black;
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p {
    background-color: transparent;
    color: white;
    font-size: 10px;
    text-align: center;
    letter-spacing: 2px;
}

html {
    scroll-behavior: smooth;
}